# ==============================
# PYTHON / FASTAPI
# ==============================

__pycache__/
*.py[cod]
*$py.class
*.so

venv/
env/
.venv/
.Python

build/
dist/
downloads/

*.egg-info/
.installed.cfg
*.egg
pip-log.txt

# ==============================
# MACHINE LEARNING
# ==============================

*.keras
*.h5
*.pkl

models/
preprocessed_audio_data/
datasets/

# ==============================
# JUPYTER
# ==============================

.ipynb_checkpoints/
*.ipynb_checkpoints

# ==============================
# FLUTTER / DART
# ==============================

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

build/

# ==============================
# IDE / EDITORS
# ==============================

.idea/
.vscode/

*.swp
*.swo
*~

# ==============================
# ENVIRONMENT VARIABLES
# ==============================

.env
.env.*
!.env.example

# ==============================
# LOGS
# ==============================

*.log
logs/

# ==============================
# OS FILES
# ==============================

.DS_Store
Thumbs.db
